<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ecc1esia.picture.infrastructure.mapper.SpaceMapper">

    <resultMap type="com.github.ecc1esia.picture.domain.space.entity.Space" id="SpaceMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="spaceName" column="space_name" jdbcType="VARCHAR"/>
        <result property="spaceLevel" column="space_level" jdbcType="INTEGER"/>
        <result property="maxSize" column="max_size" jdbcType="INTEGER"/>
        <result property="maxCount" column="max_count" jdbcType="INTEGER"/>
        <result property="totalSize" column="total_size" jdbcType="INTEGER"/>
        <result property="totalCount" column="total_count" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
        <result property="spaceType" column="space_type" jdbcType="INTEGER"/>
    </resultMap>

</mapper>
