<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper Namespace="com.github.ecc1esia.picture.infrastructure.mapper.SpaceMapper">

    <resultMap type="com.github.ecc1esia.picture.domain.space.entity.Space" id="SpaceMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="spaceName" column="space_Name" jdbcType="VARCHAR"/>
        <result property="spaceLevel" column="space_Level" jdbcType="INTEGER"/>
        <result property="maxSize" column="max_Size" jdbcType="INTEGER"/>
        <result property="maxCount" column="max_Count" jdbcType="INTEGER"/>
        <result property="totalSize" column="total_Size" jdbcType="INTEGER"/>
        <result property="totalCount" column="total_Count" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
        <result property="spaceType" column="space_type" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SpaceMap">
        select id,
               spaceName,
               spaceLevel,
               maxSize,
               maxCount,
               totalSize,
               totalCount,
               userId,
               createTime,
               editTime,
               updateTime,
               isDelete,
               spaceType
        from space
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SpaceMap">
        select
        id, spaceName, spaceLevel, maxSize, maxCount, totalSize, totalCount, userId, createTime, editTime, updateTime,
        isDelete, spaceType
        from space
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="spaceName != null and spaceName != ''">
                and spaceName = #{spaceName}
            </if>
            <if test="spaceLevel != null">
                and spaceLevel = #{spaceLevel}
            </if>
            <if test="maxSize != null">
                and maxSize = #{maxSize}
            </if>
            <if test="maxCount != null">
                and maxCount = #{maxCount}
            </if>
            <if test="totalSize != null">
                and totalSize = #{totalSize}
            </if>
            <if test="totalCount != null">
                and totalCount = #{totalCount}
            </if>
            <if test="userId != null">
                and userId = #{userId}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="editTime != null">
                and editTime = #{editTime}
            </if>
            <if test="updateTime != null">
                and updateTime = #{updateTime}
            </if>
            <if test="isDelete != null">
                and isDelete = #{idDelete}
            </if>
            <if test="spaceType != null">
                and spaceType = #{spaceType}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="Count" resultType="java.lang.Long">
        select Count(1)
        from space
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="spaceName != null and spaceName != ''">
                and spaceName = #{spaceName}
            </if>
            <if test="spaceLevel != null">
                and spaceLevel = #{spaceLevel}
            </if>
            <if test="maxSize != null">
                and maxSize = #{maxSize}
            </if>
            <if test="maxCount != null">
                and maxCount = #{maxCount}
            </if>
            <if test="totalSize != null">
                and totalSize = #{totalSize}
            </if>
            <if test="totalCount != null">
                and totalCount = #{totalCount}
            </if>
            <if test="userId != null">
                and userId = #{userId}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="editTime != null">
                and editTime = #{editTime}
            </if>
            <if test="updateTime != null">
                and updateTime = #{updateTime}
            </if>
            <if test="idDelete != null">
                and isDelete = #{idDelete}
            </if>
            <if test="spaceType != null">
                and spaceType = #{spaceType}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into space(spaceName, spaceLevel, maxSize, maxCount, totalSize, totalCount, userId, createTime, editTime,
                          updateTime, isDelete, spaceType)
        values (#{spaceName}, #{spaceLevel}, #{maxSize}, #{maxCount}, #{totalSize}, #{totalCount}, #{userId},
                #{createTime}, #{editTime}, #{updateTime}, #{idDelete}, #{spaceType})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into space(spaceName, spaceLevel, maxSize, maxCount, totalSize, totalCount, userId, createTime, editTime,
        updateTime, isDelete, spaceType)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.spaceName}, #{entity.spaceLevel}, #{entity.maxSize}, #{entity.maxCount}, #{entity.totalSize},
            #{entity.totalCount}, #{entity.userId}, #{entity.createTime}, #{entity.editTime}, #{entity.updateTime},
            #{entity.idDelete}, #{entity.spaceType})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into space(spaceName, spaceLevel, maxSize, maxCount, totalSize, totalCount, userId, createTime, editTime,
        updateTime, isDelete, spaceType)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.spaceName}, #{entity.spaceLevel}, #{entity.maxSize}, #{entity.maxCount}, #{entity.totalSize},
            #{entity.totalCount}, #{entity.userId}, #{entity.createTime}, #{entity.editTime}, #{entity.updateTime},
            #{entity.idDelete}, #{entity.spaceType})
        </foreach>
        on duplicate key update
        spaceName = values(spaceName),
        spaceLevel = values(spaceLevel),
        maxSize = values(maxSize),
        maxCount = values(maxCount),
        totalSize = values(totalSize),
        totalCount = values(totalCount),
        userId = values(userId),
        createTime = values(createTime),
        editTime = values(editTime),
        updateTime = values(updateTime),
        isDelete = values(isDelete),
        spaceType = values(spaceType)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update space
        <set>
            <if test="spaceName != null and spaceName != ''">
                spaceName = #{spaceName},
            </if>
            <if test="spaceLevel != null">
                spaceLevel = #{spaceLevel},
            </if>
            <if test="maxSize != null">
                maxSize = #{maxSize},
            </if>
            <if test="maxCount != null">
                maxCount = #{maxCount},
            </if>
            <if test="totalSize != null">
                totalSize = #{totalSize},
            </if>
            <if test="totalCount != null">
                totalCount = #{totalCount},
            </if>
            <if test="userId != null">
                userId = #{userId},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
            <if test="editTime != null">
                editTime = #{editTime},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime},
            </if>
            <if test="idDelete != null">
                isDelete = #{isDelete},
            </if>
            <if test="spaceType != null">
                spaceType = #{spaceType},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from space
        where id = #{id}
    </delete>

</mapper>

